{% extends 'base.html' %}
{% block content %}
{% include 'parts/slider.html' %}

<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Последние новинки</h2>
			</div>
		</div>
		<div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            {% if product.has_sale %}
                                <span class="bage">Акция</span>
                            {% endif %}
                            <img class="img-responsive" src="{{ MEDIA_URL }}{{ product.cover_image }}" alt="product-img" />
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <span  data-toggle="modal" data-target="#product-modal">
                                            <a href="{{ product.get_absolute_url }}"><i class="tf-ion-ios-search-strong"></i></a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                            {% if product.has_sale %}
                                <p class="price">
                                <h5><del>{{ product.get_regular_price }} руб.</del> </h5>
                                <h5>{{ product.get_sale_price }} руб.</h5>
                                </p>
                            {% else %}
                                <h5><p class="price">{{ product.get_regular_price }} руб.</p></h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

		</div>
	</div>
</section>
{% endblock %}